.class-switcher {
    display: flex;
    height: 3rem;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 1rem;
    border-radius: 13px;
    background-color: rgb(0, 0, 0, 0.7);
}

.class-switcher span {
    margin: 0 5px;
    user-select: none;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotated {
    transform: rotate(180deg);
}

.active {
    transition: font-size 0.3s ease;
    font-weight: bold;
    font-size: 1.75rem;
    /* Example color for active state */
}

span:not(.active):not(.arrow) {
    transition: font-size 0.3s ease;
    font-size: 0.9rem;
    /* Example color for active state */
}