.color-transition-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 5rem;
  color: white;
  padding: 15px 50px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-image: url('btnBackground.webp');
  /* Ensure this path is correct */
  background-size: cover;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  /* Needed for the pseudo-element */
  overflow: hidden;
  /* Ensures the pseudo-element doesn't exceed the button's boundaries */
  transition: background-color 0.125s ease;
  transition: transform 0.125s ease, background-color 0.125s ease;
  /* Add transform to the transition */
  /* Smooth transition for the background */
}

.color-transition-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  /* Transparent by default */
  transition: background 0.125s ease;
  /* Transition for the hover effect */
}

.color-transition-button:hover::before {
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay on hover */
}

.color-transition-button:active {
  transform: scale(0.95);
  /* Slightly reduce the size when active/pressed */
}

.color-transition-button span{
  font-size: 2rem;
  position: relative;
  z-index: 1;
}