.color-transition-button {
  width: 20rem;
  height: 5rem;
  background-color: #cc0100;
  color: white;
  padding: 15px 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.125s ease, filter 0.125s ease;
  border-radius: 0px;
  background-image: url('btnBackground.webp');
  background-size: cover;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.color-transition-button.hovered {
  background-color: #cc0100;
}