.joining-game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 5rem;
    color: white;
    padding: 15px 50px;
    border: none;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    /* Needed for the pseudo-element */
    overflow: hidden;
    /* Ensures the pseudo-element doesn't exceed the button's boundaries */
    transition: background-color 0.125s ease;
    transition: transform 0.125s ease, background-color 0.125s ease;
    /* Add transform to the transition */
    /* Smooth transition for the background */
}

.joining-game-screen span {
    margin: 5px;
}

.searching-text {
    font-size: 1.5rem;
}